@import '~@angular/material/theming';

@include mat-core();

$default-theme-primary: mat-palette($mat-indigo);
$default-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$default-theme-warn: mat-palette($mat-red);

$default-theme: mat-light-theme(
	$default-theme-primary,
	$default-theme-accent,
	$default-theme-warn
);

@include angular-material-theme($default-theme);

.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	> * {
		width: 100%;
	}
}
