<mat-tab-group>

	<mat-tab label="Simple">
		<form [formGroup]="form" (ngSubmit)="save()" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload formControlName="fileUpload" color="accent" placeholder="File">Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Uploader">
		<form [formGroup]="form" (ngSubmit)="save()" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					#uploader="waMatFileUpload"
					(change)="startUploader(uploader)"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Preview">
		<form [formGroup]="form" (ngSubmit)="save()" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[preview]="true"
					#preview="waMatFileUpload"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>
</mat-tab-group>
