<mat-tab-group>
	<mat-tab label="Simple">
		<form [formGroup]="formSimple" (ngSubmit)="save(formSimple)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload formControlName="fileUpload" color="accent" placeholder="File">Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Validation">
		<form [formGroup]="formValidation" (ngSubmit)="save(formValidation)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload formControlName="fileUpload" color="accent" placeholder="File">Choose file</wa-mat-file-upload>
				<mat-error *ngIf="formValidation.hasError('fileMaxSize', ['fileUpload'])">Maximum size of file is 1MB</mat-error>
				<mat-error *ngIf="formValidation.hasError('fileType', ['fileUpload'])">Only images are allowed</mat-error>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Uploader">
		<form [formGroup]="formUploader" (ngSubmit)="save(formUploader)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[preview]="true"
					#uploader="waMatFileUpload"
					(change)="startUploader(uploader)"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Preview">
		<form [formGroup]="formPreview" (ngSubmit)="save(formPreview)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[preview]="true"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Dense">
		<form [formGroup]="formDense" (ngSubmit)="save(formDense)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[preview]="true"
					[dense]="true"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Preview on top">
		<form [formGroup]="formPreviewOnTop" (ngSubmit)="save(formPreviewOnTop)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[preview]="true"
					previewPosition="top"
					color="accent"
					placeholder="File"
				>Choose file</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Save</button>
		</form>
	</mat-tab>

	<mat-tab label="Internationalization">
		<form [formGroup]="formInternationalization" (ngSubmit)="save(formInternationalization)" class="form-container">
			<mat-form-field>
				<wa-mat-file-upload
					formControlName="fileUpload"
					[multiple]="true"
					[selectedText]="czechSelectedText"
					color="accent"
					placeholder="Soubor"
				>Vybrat soubor</wa-mat-file-upload>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit">Uložit</button>
		</form>
	</mat-tab>
</mat-tab-group>
